* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #333;
    color: #fff;
}

header {
    height: 80px;
    display: flex;
    align-items: center;
}

main {
    margin-left: 30%;
}

.slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider input {
    display: none;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 300px;
    width: 250px;
    vertical-align: top;
    object-fit: cover;
}

.slider label {
    border-radius: 50%;
    background-color: #fff;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider li:nth-child(4) label {
    left: 100px;
}

.slider li:nth-child(5) label {
    left: 130px;
}

.slider li:nth-child(6) label {
    left: 160px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

footer {
    width: 90%;
    text-align: center;
    bottom: 0;
    position: fixed;
}

footer a {
    text-decoration: none;
    color: orange;
}